@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Thasadith:400,700');

:root {
    --color-red: #DD534A;
    --color-black: #1E2833;
    --font-title: 'Major Mono Display', monospace;
    --font-text: 'Thasadith', sans-serif;
    background-color: #f3f3f3;
    box-sizing: border-box;
    font-size: 62.5%;
    /* redefining rem to equal 10px instead of 16px */
}

html {
  scroll-behavior: smooth;
 }

body {
    margin: 0 auto;
    font-size: 1.6rem;
    /* and giving that proper sizing back */
}

#logo {
    margin: 2rem 0 0 2rem;
    height: 4.5vh;

}


/* GLOBAL TEXT STYLING BEGIN */

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-title);
    color: var(--color-black);
    font-weight: 100;
}

h1 {
    font-size: 8rem;
}

h2 {
    font-size: 4rem;
    line-height: 5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 6vh;
    color: white;
}

h5 {
    font-size: 3vmin;
    color: white;
}

p {
    font-family: var(--font-text);
    color: var(--color-black);
}

span {
    color: var(--color-red);
}

a {
    text-decoration: none;
}

/* GLOBAL TEXT STYLING END */

/* TWEAKS BEGIN */

.valign-img {
    max-width: 80%;
    max-height: 80%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* TWEAKS END */

/* HEADER GRID BEGIN */
.h-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 370px;
    height: 112vmin;
    margin: 5rem 8rem;
    column-gap: 2rem;
    grid-template-areas:
        "a b"
        "c c"
}

.h-griditem-1, .h-griditem-2, .h-griditem-3 {
    position: relative;
}

.h-griditem-1{
    grid-area: a;
}

.h-griditem-2{
    grid-area: b;
}

.h-griditem-3{
    grid-area: c;
    display: block;
    margin: 0 auto;
}

.valign {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 10vmin 0;
}

header h1,
header h2,
header h3 {
    text-align: center;
}

header h1{
    margin-bottom: 120px;
}

/* HEADER GRID END */

/* INTRO GRID BEGIN */
#introgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.paddingtop {
    padding-top: 2rem;
}

#introleft {
    background-color: var(--color-red);
    padding: 5rem 6rem;
}

#introleft p {
    color: white;
    font-size: 3rem;
    line-height: 4rem;
}

#introright {
    background-color: var(--color-black);
    text-align: center;
    padding: 5rem;
}

#hooves{
    position: relative;
    width: 30px;
    top: 0;
    left: 0;
}

#introright h3 {
    color: white;
    line-height: 4rem;
}

#petition {
    background-color: var(--color-red);
    border: 0;
    color: white;
    font-family: var(--font-title);
    font-size: 2.5rem;
    border-radius: 9px;
    padding: 2.2rem 1rem;
    margin: 2rem;
    border: 3px solid var(--color-red);
    transition: 0.5s;
}

#petition:hover{
    cursor: pointer;
    background-color: var(--color-black);
    border: 3px dashed var(--color-red);
}

/* INTRO GRID END */

/* MAIN GRID BEGIN */
/*
#m-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(10, 100vh);
    gap: 4vmin;
    position: relative;
    margin: 10rem;
    grid-template-areas:
        "a a b b"
        "c c c c"
        "d d e e"
        "f g g h"
        "i i j j"
        "k k l l"
        "m m n n"
        "o o o o"
        "p p p p"
        "q q q q";
}

#m-grid img {
    align-self: center;
    justify-self: center;
    max-height: 100%;
    max-width: 100%;
}

#m-grid section p {
    font-size: 3vmin;
    font-weight: bold;
}

aside {
    padding-top: 10%;
}

#m-grid img.patch {
    max-height: 80%;
    max-width: 80%;
    display: block;
    margin: auto;
}

#m-grid img.paddingbot {
    padding-bottom: 4rem;
}

aside p,
aside h3 {
    color: white;
}

#m-a {
    grid-area: a;
}

#m-b {
    grid-area: b;
}

#m-c {
    grid-area: c;
    text-align: center;
}

#m-d {
    grid-area: d;
}

#m-e {
    grid-area: e;
    text-align: right;
}

#m-f {
    grid-area: f;
    margin-top: 60%;
}

#m-g {
    grid-area: g;
    text-align: center;
    display: block;
    margin: auto;
}

#m-h {
    grid-area: h;
    margin-bottom: 60%
}

#m-i {
    grid-area: i;
}

img#m-i.patch {
    max-width: 50%;
    max-width: 50%;
}

#m-j {
    grid-area: j;
    text-align: right;
}

#m-k {
    grid-area: k;
}

#m-l {
    grid-area: l;
}

#m-m {
    grid-area: m;
}

#m-n {
    grid-area: n;
}

#m-o {
    grid-area: o;
}

#m-p {
    grid-area: p;
}

#m-q {
    grid-area: q;
}
*/
/* MAIN GRID END */

/* FOOTER BEGIN */
footer {
    background-color: var(--color-black);
    height: 60vh;
}

.footer-header {
    text-align: center;
    margin: 0;
    padding-top: 3rem;
}

.footer-subheader {
    text-align: center;
    margin: 3rem auto 1rem auto;
    width: 70%;
    line-height: 1.5em;
}

.petition-form {
    margin: 2rem auto;
    width: 35%;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
    font-family: var(--font-text);
    font-size: 1.5rem;
}

input[type=submit] {
    width: 30%;
    background-color: var(--color-red);
    color: white;
    padding: 14px 20px;
    margin: 1em 35%;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-family: var(--font-text);
    font-size: 1.5rem;
    border: 3px solid var(--color-red);
    transition: 0.5s;
}

input[type=submit]:hover {
    background-color: var(--color-black);
    border: 3px dashed var(--color-red);
}

.footer-link {
    color: white;
    font-family: var(--font-title);
    text-align: center;
    font-size: 1.3rem;
    margin-top: 2.5rem;
}

.footer-sm {
    margin-top: .5rem;
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-sm img {
    width: auto;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

/* FOOTER END */

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

@media screen and (max-width: 319px) {
    :root {
        display: none;
    }
}
