@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Thasadith:400,700');

:root {
    --color-red: #DD534A;
    --color-black: #1E2833;
    --font-title: 'Major Mono Display', monospace;
    --font-text: 'Thasadith', sans-serif;
    background-color: #f3f3f3;
    box-sizing: border-box;
    font-size: 62.5%;
    /* redefining rem to equal 10px instead of 16px */
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-size: 1.6rem;
    /* and giving that proper sizing back */
}

#logo {
    margin: 2rem 0 0 2rem;
    height: 4.5vh;
}


/* GLOBAL TEXT STYLING BEGIN */

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-title);
    color: var(--color-black);
    font-weight: 100;
}

h1 {
    font-size: 8rem;
}

h2 {
    font-size: 4rem;
    line-height: 5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 6vh;
    color: white;
}

h5 {
    font-size: 3vmin;
    color: white;
}

p {
    font-family: var(--font-text);
    color: var(--color-black);
}

span {
    color: var(--color-red);
}

a {
    text-decoration: none;
}

/* GLOBAL TEXT STYLING END */

/* TWEAKS BEGIN */

.valign-img {
    max-width: 80%;
    max-height: 80%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

/* TWEAKS END */

/* HEADER GRID BEGIN */
.h-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 370px;
    height: 112vmin;
    margin: 5rem 8rem;
    column-gap: 2rem;
    grid-template-areas:
        "a b"
        "c c"
}

.h-griditem-1,
.h-griditem-2,
.h-griditem-3 {
    position: relative;
}

.h-griditem-1 {
    grid-area: a;
}

.h-griditem-2 {
    grid-area: b;
}

.h-griditem-3 {
    grid-area: c;
    display: block;
    margin: 0 auto;
}

.h-griditem-3 img {
    max-width: 50vw;
}

.valign {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 10vmin 0;
}

header h1,
header h2,
header h3 {
    text-align: center;
}

header h1 {
    margin-bottom: 120px;
}

/* HEADER GRID END */

/* INTRO GRID BEGIN */
#introgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

.paddingtop {
    padding-top: 2rem;
}

#introleft {
    background-color: var(--color-red);
    padding: 5rem 6rem;
}

#introleft p {
    color: white;
    font-size: 3rem;
    line-height: 4rem;
}

#introright {
    background-color: var(--color-black);
    text-align: center;
    padding: 5rem;
}

#hooves {
    width: 130px;
    position: absolute;
    bottom: 20px;
    left: 86%;
}

#introright h3 {
    color: white;
    line-height: 4rem;
}

#petition {
    background-color: var(--color-red);
    color: white;
    font-family: var(--font-title);
    font-size: 2.5rem;
    border-radius: 9px;
    padding: 2.2rem 1rem;
    margin: 2rem;
    border: 3px solid var(--color-red);
    transition: 0.5s;
}

#petition:hover {
    cursor: pointer;
    background-color: var(--color-black);
    border: 3px dashed var(--color-red);
}

/* INTRO GRID END */

/* MAIN GRID BEGIN */

main h1 {
    font-size: 6rem;
}

#m-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(8, 100vh);
    gap: 4vmin;
    position: relative;
    margin: 10rem;
    grid-template-areas:
        "a a b b"
        "c c c c"
        "d d e e"
        "f g g h"
        "i i j j"
        "k k l l"
        "m m n n"
        "o o o o"
        "p p p p"
        "q q q q";
}

#m-grid img {
    align-self: center;
    justify-self: center;
    max-height: 100%;
    max-width: 100%;
}

#m-grid section p {
    font-size: 3vmin;
    font-weight: bold;
}

aside {
    padding-top: 10%;
}

#m-grid img.patch {
    max-height: 80%;
    max-width: 80%;
    display: block;
    margin: auto;
}

#m-grid img.paddingbot {
    padding-bottom: 4rem;
}

aside p,
aside h3 {
    color: white;
}

#m-a {
    grid-area: a;
}

#m-b {
    grid-area: b;
}

#m-c {
    grid-area: c;
    text-align: center;
}

#m-d {
    grid-area: d;
}

#m-e {
    grid-area: e;
    text-align: right;
}

#m-f {
    grid-area: f;
    margin-top: 60%;
}

#m-g {
    grid-area: g;
    text-align: center;
    display: block;
    margin: auto;
}

#m-h {
    grid-area: h;
    margin-bottom: 60%
}

#m-i {
    grid-area: i;
}

img#m-i.patch {
    max-width: 50%;
    max-width: 50%;
}

#m-j {
    grid-area: j;
    text-align: right;
}

#m-k {
    grid-area: k;
    display: block;
    margin: auto;
}

#m-l {
    grid-area: l;
}

#m-m {
    grid-area: m;
}

#m-n {
    grid-area: n;
    text-align: right;
    display: block;
    margin: auto;
}

#m-o {
    grid-area: o;
    text-align: center;
    /* display: block; */
    /* margin: auto; */
    /* padding: 10%; */
}

<<<<<<< HEAD #m-p {
    grid-area: p;
}

#m-q {
    grid-area: q;
}

/* MAIN GRID END */

/* FOOTER BEGIN */
footer {
    background-color: var(--color-black);
    height: auto;
}

.footer-header {
    text-align: center;
    margin: 0;
    padding-top: 3rem;
}

.footer-subheader {
    text-align: center;
    margin: 3rem auto 1rem auto;
    width: 70%;
    line-height: 1.5em;
}

.petition-form {
    margin: 2rem auto;
    width: 35%;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
    font-family: var(--font-text);
    font-size: 2.5rem;
}

input[type=submit] {
    width: 30%;
    background-color: var(--color-red);
    color: white;
    padding: 14px 20px;
    margin: 1em 35%;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-family: var(--font-text);
    font-size: 2.5rem;
    border: 3px solid var(--color-red);
    transition: 0.5s;
}

input[type=submit]:hover {
    background-color: var(--color-black);
    border: 3px dashed var(--color-red);
}

.footer-link {
    color: white;
    font-family: var(--font-title);
    text-align: center;
    font-size: 2rem;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}

.footer-sm {
    padding-bottom: 2rem;
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-sm img {
    width: auto;
    height: 40px;
    padding-left: 30px;
    padding-right: 30px;
}

/* FOOTER END */

@media only screen and (max-width: 1100px) {

    /* 1100vw Header start */

    .h-grid {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;
        height: calc(100vh - (4.5vh + 2rem));
        margin: 0 8rem;
        grid-template-areas:
            "a"
            "b";
    }

    .valign {
        margin: 10rem 0 0 0;
    }

    .valign-img {
        max-width: 100%;
        max-height: 100%;
        margin: 10rem auto auto auto;
    }

    .h-griditem-3 {
        display: none;
    }


    /* 1100vw Header end */
    /* 1100vw Intro start */

    #hooves {
        display: none;
    }

    #introgrid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        position: relative;
    }

    #introleft p {
        font-size: 3.3rem;
        line-height: 6rem;
        text-align: center;
    }


    /* 1100vw Intro end */

    /* 1100vw Footer start */

    .footer-header {
        font-size: 5rem;
    }

    .footer-subheader {
        width: 80%;
        font-size: 3rem;
    }

    .petition-form {
        margin: 2rem auto;
        width: 50%;
    }

    input[type=text],
    select {
        padding: 10px 20px;
    }

    input[type=submit] {
        width: 50%;
        margin: 1em 25%;
    }


    /* 1100vw Footer end */
}

@media only screen and (max-width: 800px) {

    /* 800vw Header start */

    header h1 {
        margin-bottom: 80px;
        font-size: 6rem;
    }

    header h2 {
        font-size: 3rem;
    }

    header h3 {
        font-size: 2rem;
    }

    /* 800vw Header end */
    /* 800vw Intro start */

    #introleft p {
        font-size: 2.5rem;
        line-height: 4rem;
        text-align: center;
    }

    #introright h3 {
        font-size: 2.5rem;
        line-height: 4rem;
        text-align: center;
    }

    #petition {
        font-size: 2rem;
        padding: 2rem 1rem;
        margin: 1rem;
    }

    /* 800vw Intro end */
    /* 800vw Footer start */

    .footer-header {
        font-size: 3.5rem;
    }

    .footer-subheader {
        width: 80%;
        font-size: 2.3rem;
    }

    .petition-form {
        margin: 2rem auto;
        width: 70%;
    }

    input[type=text],
    select {
        padding: 10px 20px;
    }

    input[type=submit] {
        width: 40%;
        margin: 1em 30%;
    }


    /* 800vw Footer end */

}

@media only screen and (max-width: 600px) {
    /* 600vw Header start */

    #logo {
        margin: 1rem 0 0 1rem;
        height: 3.5vh;
    }

    .h-grid {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;
        height: calc(100vh - (3.5vh + 1rem));
        margin: 0 2rem;
    }

    .valign {
        margin: 5rem 0 0 0;
    }

    header h1 {
        margin-bottom: 9rem;
        font-size: 4rem;
    }

    header h2 {
        font-size: 2rem;
        line-height: 3.5rem;
    }

    header h3 {
        font-size: 1.5rem;
    }

    /* 600vw Header end */

    /* 600vw Intro start */

    #introleft {
    padding: 2rem;
}

    #introleft p {
        font-size: 1.5rem;
        line-height: 3rem;
        text-align: center;
    }

    #introright {
    padding: 2rem;
}

    #introright h3 {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    #petition {
        font-size: 1.3rem;
        padding: 1rem 1rem;
        margin: 1rem;
    }

    /* 600vw Intro end */

    /* 600vw Footer start */

    .footer-header {
        font-size: 2.3rem;
    }

    .footer-subheader {
        width: 80%;
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .petition-form {
        margin: 2rem auto;
        width: 70%;
    }

    input[type=text],
    select {
        padding: 10px 20px;
        font-size: 1.5rem;
    }

    input[type=submit] {
        width: 40%;
        margin: 1em 30%;
        font-size: 1.5rem;
        padding: 10px 20px;
    }

    .footer-link {
        font-size: 1.5rem;
        line-height: 2.5rem;
        width: 80%;
        margin: 0 auto;
    }

    .footer-sm img {
    width: auto;
    height: 30px;
        margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

    /* 600vw Footer end */


}

@media screen and (max-width: 319px) {
    :root {
        display: none;
    }
}
