@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display|Thasadith:400,700');

:root {
    --red-col: #DD534A;
    --dark-col: #1E2833;
    --title-font: 'Major Mono Display', monospace;
    --text-font: 'Thasadith', sans-serif;
    background-color: #f3f3f3;
}

body {
    margin: 0 auto;
}

#logo {
    margin: 2rem;
    height: 7vmin;

}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--title-font);
    font-weight: 100;
}

h1 {
    text-align: center;
    color: var(--dark-col);
    font-size: 8vmin;
}

h2 {
    color: var(--dark-col);
    font-size: 4.5vmin;
}

h3 {
    font-size: 3.3vmin;
}

h4 {
    font-size: 6vmin;
    color: white;
}

h5 {
    font-size: 3vmin;
    color: white;
}

p {
    font-family: var(--text-font);
}

a {
    text-decoration: none;
}

#headergrid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "c c c c t t t t";
    margin: 5rem 8rem;
    column-gap: 2rem;
    align-items: center;
    justify-items: center;
    height: 75vmin;
}

#carl {
    grid-area: c;
}

#carltext {
    grid-area: t;
    text-align: center;
    align-self: center;
    justify-self: center;
}

.imgtofit {
    height: 100%;
    width: 100%;
}

#introgrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

span {
    color: var(--red-col);
}

.paddingtop {
    padding-top: 2rem;
}

#introleft {
    background-color: var(--red-col);
}

.introtext {
    padding: 3rem 4rem;
    color: white;
    font-size: 1.9rem;
}

#introright {
    background-color: var(--dark-col);
    color: var(--red-col);
    text-align: center;
    padding: 5rem;
}

#petition {
    background-color: var(--red-col);
    border: 0;
    color: white;
    font-family: var(--title-font);
    font-size: 1.5rem;
    border-radius: 2rem;
    padding: 1rem;
    margin: 2rem;
}

footer {
    background-color: var(--dark-col);
    height: 70vh;
}

.footer-header {
    text-align: center;
    margin: 0;
    padding-top: 3rem;
}

.footer-subheader {
    text-align: center;
    margin: 3rem auto 1rem auto;
    width: 70%;
    line-height: 1.5em;
}

.petition-form {
    margin: 2rem auto;
    width: 35%;
}

input[type=text],
select {
    width: 100%;
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 7px;
    box-sizing: border-box;
    font-family: var(--text-font);
    font-size: 1.5rem;
}

input[type=submit] {
    width: 30%;
    background-color: var(--red-col);
    color: white;
    padding: 14px 20px;
    margin: 1em 35%;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-family: var(--text-font);
    font-size: 1.5rem;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.footer-link {
    color: white;
    font-family: var(--title-font);
    text-align: center;
    font-size: 1.3rem;
    margin-top: 2.5rem;
}

.footer-sm {
    margin-top: .5rem;
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-sm img {
    width: auto;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

@media screen and (max-width: 319px) {
    :root {
        display: none;
    }
}